{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:promise/", "prettier", "prettier/@typescript-eslint"],
  "plugins": ["promise"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-require": "off"
  }
}
