.nyc_output
coverage
.DS_Store
library
node_modules
.tmp

### ESOPS GITIGNORE AUTO GENERATED BEGIN ###
/.node-dev.json
/.nycrc
/.prettierrc
/.vscode/extensions.json
/.vscode/settings.json
/source/readme.md
/tsconfig.json
### ESOPS GITIGNORE AUTO GENERATED END ###
