.nyc_output
coverage
.DS_Store
library
node_modules
.tmp

### ESOPS AUTO GENERATED BEGIN ###
/.node-dev.json
/.nycrc
/.prettierrc
/.vscode/extensions.json
/.vscode/settings.json
/source/readme.md
/tsconfig.json
/package-lock.json
/package.json
### ESOPS AUTO GENERATED END ###
